PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://smitsudani555:<your-password>@cluster0.xdm5i.mongodb.net
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-code
REFRESH_TOKEN_EXPIRY=10d